*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;

}
.form li{
    display: none;
}
.form{
    width: 50%;
    border: solid 2px black;
    margin: auto;
    text-align: center;
    padding:12px 12px;
    position:relative;
    top:200px;
    height: 300px;
    border-radius: 10px;
    padding-top:60px;
    background-color: rgb(26, 230, 155);
}
.form p{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px 5px;
}
#h1{
    text-align: center;
    margin-top:16px;
    position: relative;
    top:196px;
}
.form label{
    font-size: 25px;
}

.form input[type=text],.form input[type=password]{
width: 250px;
height:30px;
font-size: 25px;
border-radius: 10px;
}
